@import "../variables";

.wrapper {
  width: 100%;
  background-color: $dark-blue;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager {
  font-size: 0;
  text-align: center;
}

.pagerItem {
  display: inline-block;
  vertical-align: top;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 2px;
  cursor: pointer;

  &.active .pagerLink {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
  }
}

.pagerIcon {
  content: "";
  background: url("../assets/icon-pager.svg") center center no-repeat;
  width: 8px;
  height: 12px;
  display: inline-block;
}

.pagerPrevIcon {
  div:before {
    @extend .pagerIcon;
  }
}

.pagerNextIcon {
  div:before {
    @extend .pagerIcon;
    transform: rotate(180deg);
  }
}

.pagerLink {
  position: relative;
  border-radius: 4px;
  display: block;
  text-align: center;
  width: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
  margin-left: -1px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    background-color: $main-hover-color;
    border-color: $main-hover-color;
    color: #fff;
    text-decoration: none;
  }
}
